* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #5a5a5a;
    background-color: #eff1fc;
    font-family: 'Montserrat', sans-serif;
}

.loading {
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -8px;
}

.events {
    width: 450px;
    display: block;
    padding-left: 30px;
    padding-top: 20px;
    min-height: 100vh;
    position: relative;
    margin: 0 auto;
    border-left: 2px solid #d8d8d8;
}

.events--item {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    position: relative;
    margin-bottom: 35px;
    background-color: #f8f8f8;
    box-shadow: 0 0 7px rgba(0,0,0,.1);
}

.events--item:before {
    top: 12px;
    width: 25px;
    content: '';
    left: -44px;
    height: 25px;
    position: absolute;
    background-image: url("./assets/icons/check.svg");
    background-size: cover;
}

.events--header {
    width: 100%;
    display: flex;
    height: 42px;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.events--header-items {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 22px;
}

.events--header-item {
    display: flex;
    align-items: center;
    margin-right: 14px;
    font-size: 13px;
}

.events--header-image {
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.events--products {
    padding: 5px 22px 10px;
    display: flex;
}

.events--products li {
    display: flex;
    border-bottom: 1px solid #eeecec;
    font-size: 11px;
    padding: 8px 0;
}

.table {
    width: 100%;
    font-size: 12px;
    text-align: left;
    border-spacing: 0;
}

.table th, .table td {
    border-bottom: 1px solid #eeecec;
    padding: 8px 0;
}

.table tr:last-child td {
    border-bottom: none;
}
